<div class="formContainer">
  <form [formGroup]="confirmForm" (ngSubmit)="confirmAccount()">
    <h2 class="mb-3 fw-normal text-center">Confirmación de cuenta</h2>

    <div class="content">
      <div class="form-element form-stack">
        <label for="email" class="form-label">Email</label>
        <input
          class="campo-entrada ms-2"
          type="email"
          name="email"
          formControlName="email"
        />
        <div
          *ngIf="confirmForm.get('email')?.touched && confirmForm.get('email')?.errors?.['required']"
          class="alert alert-danger"
        >
          El email es requerido
        </div>
        <!-- //segunda validacion  -->
        <div
          class="alert alert-danger"
          *ngIf="confirmForm.controls['email'].hasError('email')"
        >
          Formato de email Invalido.
        </div>
      </div>

      <div class="form-outline mb-4">
        <p class="form-label">Codigo de Confirmacion</p>
        <input
          type="text"
          id="code"
          class="campo-entrada ms-2"
          formControlName="code"
        />
        <div
          *ngIf="confirmForm.get('code')?.touched && confirmForm.get('code')?.errors?.['required']"
          class="alert alert-danger"
        >
          El codigo de verificación es requerido
        </div>
      </div>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-outline-dark btn-block mb-4"
        [disabled]="confirmForm.invalid"
      >
        Confirmar Cuenta
      </button>
      <div *ngIf="!statusCode" class="alert alert-danger">
        El código o usuario ingresado no son válidos.
      </div>
    </div>
  </form>
</div>
