<footer class="d-flex justify-content-between bg-secondary p-3">
    <article class="empresa-footer">
        <span>De Pelos Pet shop</span>
      </article>
    <div class="redes-sociales d-flex justify-content-between">
        <div>
            <a href=# target="_blank" class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <div>
            <a href=# target="_blank" class="facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div>
            <a href=# target="_blank"
                class="instagram">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div>
            <a href="https://www.twitter.com" target="_blank" class="twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
    <div class="datos">
        <p>© 2022 Copyright.</p> 
    </div>
</footer>