
.promos img{
    width: auto;
    height: auto;
    border-radius: 10px;
}

h1 {
    color: #143F6B;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}


.container {
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  flex-flow: row wrap;
  height: auto;
  padding: 2rem 0rem;
}

.circle {
    background-color: #cee6ff;
    width: 200px;
    height: auto;
    border-radius: 1000px; 
    padding: 1em;
}


.aligner {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.garantia {
    background-color: #c15110;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
  }



