<h1 class="text-center mb-3 my-4">POCAS PULGAS PETSHOP</h1>
<h2 class="text-center mb-4">
  ¡Hacemos envíos a toda la Argentina! <br />Comprá acá lo que necesita tu
  mascota y recibilo en tu domicilio.
</h2>
<app-banner></app-banner>
<div class="container">
<div class="row d-flex justify-content-between w-100">
  <img
    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4"
    src="assets/images/Promo1.png"
    alt="promo 1"
  />
  <img
    class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-4"
    src="assets/images/Promo2.png"
    alt="promo 2"
  />
</div>
</div>
<section class="garantia p-4">
  <img src="assets/iconos/check.svg" alt="" />
  <div class="mx-3">
    <h2 style="color: white; font-weight: 600;">
      GARANTÍA TOTAL EN TU COMPRA
    </h2>
    <a
      href="#"
      class=" text-decoration-none"
      style="color: antiquewhite"
      >Ver bases y condiciones</a
    >
  </div>
  <div></div>
</section>

<div class="container">
  <div class="circle">
    <div class="aligner">
      <img
        src="assets/iconos/carrito.svg"
        style="height: 50px; width: auto; margin-bottom: 10px"
        alt="carrito"
      />
      Agregá a tu carrito los productos que necesitás.
    </div>
  </div>
  <div class="circle">
    <div class="aligner">
      <img
        src="assets/iconos/tarjeta.svg"
        style="height: 50px; width: auto; margin-bottom: 10px"
        alt="tarjeta"
      />
      Elegí el medio de pago que desees y aprovechá nuestras promos.
    </div>
  </div>
  <div class="circle">
    <div class="aligner">
      <img
        src="assets/iconos/producto.svg"
        style="height: 50px; width: auto; margin-bottom: 10px"
        alt="producto"
      />
      Recibí tu pedido o coordiná tu punto de retiro.
    </div>
  </div>
</div>
