<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-9 animate__animated animate__backInLeft">
      <h3 class="mb-3">Tus productos</h3>
      <table class="table table-responsive-xs table-hover table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Descuento</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of carrito.productos; let i = index">
            <td class="col-1">
              <img
                src="{{ p.imagen }}"
                alt=""
                class="rounded img-thumbnail img-fluid"
              />
            </td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.cantidad }}</td>
            <td>${{ p.precioConDescuento }}</td>
            <td>{{ p.descuento }}%</td>
            <td>
              <button type="button" class="close" style="
                  background-color: rgb(204, 0, 0);
                  border-radius: 5px;
                  border:none;
                  color: #ffffff;
                " data-dismiss="modal" (click)="eliminarProductoDelCarrito(carrito.id,p.id)">
                &times;
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col animate__animated animate__bounceInUp">
          <h1 class="mb-5 my-5">¡Confirmá tu compra!</h1>
          <div class="card mb-3">
            <div class="card-header">¡Ya casi lo tenes!</div>
            <div class="card-body">
              <h5 class="card-title">Tipo de envío</h5>
              <p class="card-text"></p>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio1"
                  name="customRadio"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadio1">
                  Envío a domicilio</label
                >
              </div>
              <div class="custom-control custom-radio">
                <input
                  type="radio"
                  id="customRadio1"
                  name="customRadio"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadio1"
                  >Retira por el sucursal</label
                >
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Su dirección de entrega</h5>
              <p class="card-text">
                ESTRADA 01904 Piso Dpto. 1755 RAFAEL CASTILLO , Provincia Buenos
                Aires , Argentina
              </p>
              <button type="submit" class="btn btn-outline-success btn-block w-100">
                Actualizar datos
              </button>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ carrito.productos.length }} Productos en total</h5>
              <!-- <p class="card-text">Transporte: $200</p> -->
              <p class="card-text">${{total}}</p>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block w-100 mb-5">
            Confirmar compra
          </button>
        </div>
        
      </div>
    </div>
    <div class="col-2 offset-1 m-auto animate__animated animate__backInRight">
      <h5 class="mb-3">Tambien te puede interesar:</h5>
        <div
        *ngFor="let p of carrito.productos; let i = index"
            class="col-12"
          >
            <figure class="card card-product-grid h-100">
              <div class="img-wrap rounded bg-gray-light">
                <span class="topbar">
                  <span class="badge tag-discount">-{{ p.descuento }}%</span>
                </span>
                <img class="mix-blend-mode" src="{{ p.imagen }}" />
              </div>
              <figcaption class="card-product-info">
                <a href="#" class="title"> {{ p.nombre }}</a>
                <div class="price-wrap">
                  <div>
                    <span class="price">${{ p.precioOriginal }}</span>
                    <del class="discount-price"
                      >${{ p.precioConDescuento }}</del
                    >
                  </div>
                </div>
                <button
                  (click)="agregarProductoAlCarrito(p.id)"
                  class="btn btn-sm btn-outline-success w-100 mt-2"
                >
                  Agregar a carrito
                </button>
                <p class="badge tag-category">Categoría: {{ p.categoria }}</p>
              </figcaption>
            </figure>
        
    </div>
  </div>
</div>
