<div class="content my-4">
  <h2 class="mb-3 fw-normal text-center">Registro</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
   <div class="form-element form-stack mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        name="nombre"
        class="campo-entrada"
        type="text"
        formControlName="nombre"
     
      />
      <div *ngIf="signupForm.get('nombre')?.touched && signupForm.get('nombre')?.errors?.['required']"
      class="alert alert-danger">El nombre es requerido</div>
      <!-- <div *ngIf="signupForm.get('nombre')?.touched && signupForm.get('nombre')?.errors?.['minLength']"
      class="alert alert-danger">El nombre debe tener un minimo de 
      {{signupForm.get('nombre')?.errors?.['minLength']?.requiredLength}} caracteres.</div> -->
    </div>
      <div class="form-element form-stack mb-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input
        formControlName="apellido"
        name="apellido"
        class="campo-entrada"
        type="text"
        
      />
      <div *ngIf="signupForm.get('apellido')?.touched && signupForm.get('apellido')?.errors?.['required']"
      class="alert alert-danger">El apellido es requerido</div>
    </div>
    <div class="form-element form-stack mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input
        formControlName="direccion"
        name="direccion"
        class="campo-entrada"
        type="text"
      />
      <div *ngIf="signupForm.get('direccion')?.touched && signupForm.get('direccion')?.errors?.['required']"
      class="alert alert-danger">La direccion es requerida</div>
    </div>
    <div class="form-element form-stack mb-3">
      <label for="email" class="form-label">Email:</label>
      <input 
      formControlName="email"
      name="email"
       class="campo-entrada"
        type="text"
          />
         <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.errors?.['required']"
         class="alert alert-danger">El email es requerido</div>
    </div>
    <div class="form-element form-stack mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        formControlName="password"
        name="password"
        class="campo-entrada"
        type="password"
      />
      <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['required']"
      class="alert alert-danger">La contraseña es requerida.</div>
      <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors?.['minLength']"
      class="alert alert-danger">La contraseña debe tener un minimo de 
      {{signupForm.get('password')?.errors?.['minLength']?.requiredLength}} caracteres.</div>
    </div>
     <div class="form-element form-stack mb-3">
      <label for="repassword" class="form-label">Repetir contraseña:</label>
      <input
        formControlName="repassword"
        name="repassword"
        class="campo-entrada"
        type="password"
      />
      <div *ngIf="signupForm.get('repassword')?.touched && signupForm.get('repassword')?.errors?.['required']"
      class="alert alert-danger">La contraseña es requerida</div>
    </div> 
    <div class="my-3">
      <!--<button class="w-100 btn" style="background-color:#d26410; color: #FFFFFF" type="submit" [disabled]="signupForm.invalid">Registrarse</button> -->
      <input
      class="w-100 btn btn-lg"
      style="background-color:#d26410; color: #FFFFFF"
      type="submit"
      value="Crear Cuenta"
    />
      <a class="btn w-100 my-3" style="color: #2b2b2b; font-weight: 400;" href="/signin">Cancelar</a>
  
    </div>
  </form>
</div>
