<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
  
  <div class="container">
    <img class="navbar-brand" width="80px" height="80px" src="assets/logo.png" />
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Crear Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/productos">Productos</a>
        </li>
      </ul>
      <div *ngIf="router.url.startsWith('/productos')">
        <button (mouseover)="changeText=true" (mouseout)="changeText=false"
          id="cart" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa fa-shopping-cart" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#myModal"></i>
        </button>
      </div>
    
    </div>
  </div>
</nav>